<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WSAlumnos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56113/WSAlumnos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_WSAlumnos" contract="WSAlumnos.WSAlumnos"
                name="BasicHttpBinding_WSAlumnos" />
        </client>
    </system.serviceModel>
</configuration>